.textos{
    display: flex;
    flex-direction: column;
    place-items: center;
}

.balao{
    padding-inline: 1rem;
    padding-block: 0.2rem;
    margin-bottom: 6vh;
    background-color: #0a84ff1a;
    color: rgb(10 132 255 / var(--tw-text-opacity, 1));
    border-radius: 20px;
    font-weight: 450;
}

.balao p{
    font-size: 1.2rem;
}

.apresentacao{
    line-height: 1.25;
    font-weight: bold;
    font-size: 5.075rem;
    margin-bottom: 4vh;
    line-height: 1;
}

.text-gradient{
    background: linear-gradient(135deg, #2276ca 0%, #3399ff 70%, #ffffff 145%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.detalhes p{
    font-family: Inter,system-ui,sans-serif;
    font-size: 1.7rem;
    line-height: 1.15;
    color: rgb(153, 153, 153);
    margin-bottom: 6vh;
}

.botoes{
    display: flex;
    gap: 1.5rem;
}

.botao-comecar{
    padding-inline: 3rem;
    padding-block: 1.2rem;
    border: none;
    border-radius: 15px;
    background-color: rgb(35, 122, 223);
    font-size: 1.5rem;
    transition: 0.2s all;
    cursor: pointer;
    
}

.botao-comecar:hover{
    background-color: rgb(24, 88, 161);
}

.botao-saiba{
    padding-inline: 3rem;
    padding-block: 1.2rem;
    background-color: none;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid #2276ca;
    font-size: 1.5rem;
    transition: 0.2s all;
    cursor: pointer;
}

.botao-saiba:hover{
    background-color: #2276ca3a;
}

